name: build image and deploy

on:
  push:
    branches: ["main"]

jobs:
  build-image:
    runs-on: ubuntu-latest
    concurrency: build-docker
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Set image version (tag)
        id: image_version
        run: echo "githash=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Build and Push Container
        uses: docker/build-push-action@v4
        with:
          platforms: linux/amd64
          context: .
          push: true
          tags: |
            ghcr.io/khaledez/echoinfo:latest
            ghcr.io/khaledez/echoinfo:${{ steps.image_version.outputs.githash }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
  deploy-image:
    needs: build-image
    uses: ./.github/workflows/deploy.yml
    with:
      instance_ip: ${{ vars.INSTANCE_IP }}
    secrets: inherit